
/* image */

.purple-img {
  width: 100%;
  background-image: url('/assets/img/Desktop_Frame.png');
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

/* modify text title css */
.mat-title {
  color: white;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
}

.mat-title-header {
  color: white;
  font-size: 32px;
  font-family: Roboto;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
}

/* On screens that are 992px or less */
@media screen and (max-width: 960px) {
  .mat-title {
    font-size: 16px;
  }
  .mat-title-header {
    font-size: 24px;
  }
  .robot-img {
    width: 100%;
    padding: 40px;
  }
}

/* On screens that are 750px or less */
@media screen and (max-width: 750px) {
  .mat-title {
    font-size: 14px;
  }
  .mat-title-header {
    font-size: 20px;
  }
  .padding-layout {
    padding: 40px 80px;
  }
  .padding-layout-header {
    padding: 80px 40px;
  }
  .robot-img-2 {
    width: 50%;
    padding: 40px 80px;
  }
  .robot-img {
    width: 100%;
    padding: 40px 80px;
  }
}

@media screen and (max-width: 600px) {
  .mat-title {
    font-size: 14px;
  }
  .mat-title-header {
    font-size: 18px;
  }
  .padding-layout {
    padding: 20px 40px;
  }
  .padding-layout-header {
    padding: 20px 40px;
  }
  .robot-img-2 {
    width: 50%;
    padding: 40px 80px;
  }
  .robot-img {
    width: 100%;
    padding: 10px;
  }
}
