<!-- Header -->
<div class="purple-img" fxLayout="row wrap" fxLayout.xs="column warp" fxLayoutAlign="space between" [ngStyle]="{'height':'700px','padding-top':'64px'}">
    <div class="item-header" fxFlex="0 0 100%">
      <div class="padding-layout-header" fxLayout="column" fxLayoutAlign="start center" fxFlex="0 0 100%">
          <div id="bg-panel-text" [ngStyle]="{'text-align':'center'}">
            <h1 class="mat-title-header" [ngStyle]="{'color':'white', 'font-weight':'bold'}">{{'Header-title' | translate}}</h1>
          </div>
          <div id="bg-panel-text" [ngStyle]="{'text-align':'center'}">
            <h1 *ngFor="let i of 'Header-content' | translate" class="mat-title" [ngStyle]="{'color':'white'}">{{ i }}</h1>
          </div>
      </div>
    </div>
</div>
<!-- Header -->

<!-- Content 1 -->
<div fxLayout="row wrap" fxLayout.xs="column warp" fxLayoutAlign="space between" >
  <div fxLayout=column fxFlex="10%" fxFlex.xs="0 0 0"></div>
  <div class="item-header" fxLayout.xs="column" fxFlex="40%" fxFlex.xs="0 0 100%">
    <!--<div fxLayout=column fxFlex="0 0 12.5%" fxFlex.xs="0 0 0"></div>-->
    <div class="item-header" fxFlex="0 0 100%">
      <div class="padding-layout" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="0 0 100%">
          <div id="bg-panel-text">
            <h1 class="mat-title" [ngStyle]="{'color':'black', 'font-weight':'bold'}">{{ 'Feature-header' | translate }}</h1>
          </div>
          <div id="bg-panel-text">
            <h1 class="mat-title" [ngStyle]="{'color':'black'}">{{ 'Feature-details' | translate }}</h1>
          </div>
      </div>
    </div>
  </div>
  <div class="item-header" fxLayout.xs="column" fxFlex="40%" fxFlex.xs="0 0 100%">
    <div fxLayout=column fxLayout.xs=row fxFlex="0 0 100%" fxFlex.xs="0 0 50%">
      <img src="assets/img/features1.svg" class="robot-img-2"/>
    </div>
  </div>
</div>
<!-- Content 1 -->

<!-- Content 2 -->
<div fxLayout="row wrap" fxLayout.xs="column warp" fxLayoutAlign="space between" [ngStyle]="{'background-color':'#F8F9FA'}">
  <div fxLayout=column fxFlex="10%" fxFlex.xs="0 0 0"></div>
  <div class="item-header" fxLayout.xs="column" fxFlex="40%" fxFlex.xs="0 0 100%">
    <!--<div fxLayout=column fxFlex="0 0 12.5%" fxFlex.xs="0 0 0"></div>-->
    <div class="item-header" fxFlex="0 0 100%">
      <div class="padding-layout" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="0 0 100%">
          <div id="bg-panel-text">
            <h1 class="mat-title" [ngStyle]="{'color':'black', 'font-weight':'bold'}">{{ 'Cart-header' | translate }}</h1>
          </div>
          <div id="bg-panel-text">
            <h1 class="mat-title" [ngStyle]="{'color':'black'}">{{ 'Cart-details' | translate }}</h1>
          </div>
      </div>
    </div>
  </div>
  <div class="item-header" fxLayout.xs="column" fxFlex="40%" fxFlex.xs="0 0 100%">
    <div fxLayout=column fxLayout.xs=row fxFlex="0 0 100%" fxFlex.xs="0 0 50%">
      <div class="padding-layout">
        <mat-card appCardelevetion defaultElevation=2 raisedElevation=16>
          <mat-card-header>
            <mat-card-title>{{ 'Card-cart-title' | translate}}</mat-card-title>
            <mat-card-subtitle>{{ 'Card-cart-sub-title' | translate}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/img/pexels-hasan-albari-1229861.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              {{ 'Card-cart-details' | translate}}
            </p>
          </mat-card-content>
          <mat-card-actions [ngStyle]="{'display': 'flex' , 'align-items': 'center' , 'justify-content': 'center'}">
            <button mat-button routerLink="/shopping" [ngStyle]="{'background-color': 'darkseagreen', 'width': '100%', 'color':'white'}">{{ 'Cart-button' | translate}}</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<!-- Content 2 -->

<!-- Content 3 -->
<div fxLayout="row wrap" fxLayout.xs="column warp" fxLayoutAlign="space between" >
  <div fxLayout=column fxFlex="10%" fxFlex.xs="0 0 0"></div>
  <div class="item-header" fxLayout.xs="column" fxFlex="40%" fxFlex.xs="0 0 100%">
    <!--<div fxLayout=column fxFlex="0 0 12.5%" fxFlex.xs="0 0 0"></div>-->
    <div class="item-header" fxFlex="0 0 100%">
      <div class="padding-layout" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="0 0 100%">
          <div id="bg-panel-text">
            <h1 class="mat-title" [ngStyle]="{'color':'black', 'font-weight':'bold'}">{{ 'Hub-header' | translate}}</h1>
          </div>
          <div id="bg-panel-text">
            <h1 class="mat-title" [ngStyle]="{'color':'black'}">{{ 'Hub-details' | translate}}</h1>
          </div>
      </div>
    </div>
  </div>
  <div class="item-header" fxLayout.xs="column" fxFlex="40%" fxFlex.xs="0 0 100%">
    <div fxLayout=column fxLayout.xs=row fxFlex="0 0 100%" fxFlex.xs="0 0 50%">
      <div class="padding-layout">
        <mat-card appCardelevetion defaultElevation=2 raisedElevation=16>
          <div fxLayout=column fxFlex="0 0 40%">
            <img src="assets/img/news1.svg" [ngStyle]="{'width': '100%', 'margin': 'auto'}">
          </div>
          <div fxLayout=column fxFlex="0 0 60%" [ngStyle]="{'padding': '10px'}">
            <mat-card-content>
              <p>
                {{ 'Card-hub-details'| translate }}
              </p>
            </mat-card-content>
            <mat-card-actions [ngStyle]="{'display': 'flex' , 'align-items': 'center' , 'justify-content': 'center'}">
              <button mat-button routerLink="/blog" [ngStyle]="{'background-color': 'darkseagreen', 'width': '100%', 'color':'white'}">{{ 'Hub-button' | translate}}</button>
            </mat-card-actions>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>
<!-- Content 3 -->
