<!-- Header -->
<div class="purple-img" fxLayout="row wrap" fxLayout.xs="column warp" fxLayoutAlign="space between" [ngStyle]="{'height':'700px'}">
    <div class="item-header" fxFlex="0 0 100%">
      <div class="padding-layout-header" fxLayout="column" fxLayoutAlign="start center" fxFlex="0 0 100%">
          <div id="bg-panel-text" [ngStyle]="{'text-align':'center'}">
            <h1 class="mat-title-header" [ngStyle]="{'color':'white', 'font-weight':'bold'}">Various Product and Knowledge Provided Here.</h1>
          </div>
          <div id="bg-panel-text" [ngStyle]="{'text-align':'center'}">
            <h1 class="mat-title" [ngStyle]="{'color':'white'}">Providing product from your request.</h1>
            <h1 class="mat-title" [ngStyle]="{'color':'white'}">Fast and Reliable product served with performance.</h1>
            <h1 class="mat-title" [ngStyle]="{'color':'white'}">Maintenance services provided.</h1>
          </div>
      </div>
    </div>
</div>
<!-- Header -->

<!-- Content 1 -->
<div fxLayout="row wrap" fxLayout.xs="column warp" fxLayoutAlign="space between" >
  <div fxLayout=column fxFlex="10%" fxFlex.xs="0 0 0"></div>
  <div class="item-header" fxLayout.xs="column" fxFlex="40%" fxFlex.xs="0 0 100%">
    <!--<div fxLayout=column fxFlex="0 0 12.5%" fxFlex.xs="0 0 0"></div>-->
    <div class="item-header" fxFlex="0 0 100%">
      <div class="padding-layout" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="0 0 100%">
          <div id="bg-panel-text">
            <h1 class="mat-title" [ngStyle]="{'color':'black', 'font-weight':'bold'}">Our Features</h1>
          </div>
          <div id="bg-panel-text">
            <h1 class="mat-title" [ngStyle]="{'color':'black'}">There are finished product, with requested work. contract agreement are signed for your safety with fast and reliable can be trusted.</h1>
          </div>
      </div>
    </div>
  </div>
  <div class="item-header" fxLayout.xs="column" fxFlex="40%" fxFlex.xs="0 0 100%">
    <div fxLayout=column fxLayout.xs=row fxFlex="0 0 100%" fxFlex.xs="0 0 50%">
      <img src="assets/img/features1.svg" class="robot-img-2"/>
    </div>
  </div>
</div>
<!-- Content 1 -->

<!-- Content 2 -->
<div fxLayout="row wrap" fxLayout.xs="column warp" fxLayoutAlign="space between" [ngStyle]="{'background-color':'#F8F9FA'}">
  <div fxLayout=column fxFlex="10%" fxFlex.xs="0 0 0"></div>
  <div class="item-header" fxLayout.xs="column" fxFlex="40%" fxFlex.xs="0 0 100%">
    <!--<div fxLayout=column fxFlex="0 0 12.5%" fxFlex.xs="0 0 0"></div>-->
    <div class="item-header" fxFlex="0 0 100%">
      <div class="padding-layout" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="0 0 100%">
          <div id="bg-panel-text">
            <h1 class="mat-title" [ngStyle]="{'color':'black', 'font-weight':'bold'}">Our Finished Project</h1>
          </div>
          <div id="bg-panel-text">
            <h1 class="mat-title" [ngStyle]="{'color':'black'}">These are finished product which created for sales only.</h1>
          </div>
      </div>
    </div>
  </div>
  <div class="item-header" fxLayout.xs="column" fxFlex="40%" fxFlex.xs="0 0 100%">
    <div fxLayout=column fxLayout.xs=row fxFlex="0 0 100%" fxFlex.xs="0 0 50%">
      <div class="padding-layout">
        <mat-card appCardelevetion defaultElevation=2 raisedElevation=16>
          <mat-card-header>
            <mat-card-title>Shopping</mat-card-title>
            <mat-card-subtitle>Various products and services offered.</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/img/pexels-hasan-albari-1229861.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Directly a shopping pages for ordering your own new website or choose the available products.
            </p>
          </mat-card-content>
          <mat-card-actions [ngStyle]="{'display': 'flex' , 'align-items': 'center' , 'justify-content': 'center'}">
            <button mat-button routerLink="/shopping" [ngStyle]="{'background-color': 'darkseagreen', 'width': '100%', 'color':'white'}">Go Shopping</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<!-- Content 2 -->

<!-- Content 3 -->
<div fxLayout="row wrap" fxLayout.xs="column warp" fxLayoutAlign="space between" >
  <div fxLayout=column fxFlex="10%" fxFlex.xs="0 0 0"></div>
  <div class="item-header" fxLayout.xs="column" fxFlex="40%" fxFlex.xs="0 0 100%">
    <!--<div fxLayout=column fxFlex="0 0 12.5%" fxFlex.xs="0 0 0"></div>-->
    <div class="item-header" fxFlex="0 0 100%">
      <div class="padding-layout" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="0 0 100%">
          <div id="bg-panel-text">
            <h1 class="mat-title" [ngStyle]="{'color':'black', 'font-weight':'bold'}">Our Knowledge Created as Resource Hub</h1>
          </div>
          <div id="bg-panel-text">
            <h1 class="mat-title" [ngStyle]="{'color':'black'}">A Resource hub created for everybody who interests in developed your own products.</h1>
          </div>
      </div>
    </div>
  </div>
  <div class="item-header" fxLayout.xs="column" fxFlex="40%" fxFlex.xs="0 0 100%">
    <div fxLayout=column fxLayout.xs=row fxFlex="0 0 100%" fxFlex.xs="0 0 50%">
      <div class="padding-layout">
        <mat-card appCardelevetion defaultElevation=2 raisedElevation=16>
          <div fxLayout=column fxFlex="0 0 40%">
            <img src="assets/img/news1.svg" [ngStyle]="{'width': '100%', 'margin': 'auto'}">
          </div>
          <div fxLayout=column fxFlex="0 0 60%" [ngStyle]="{'padding': '10px'}">
            <mat-card-content>
              <p>
                This is resource of Knowledge, called knowledge hub, is created from ourselves for the purpose of keeping everything which learned about coding. This resource hub is updated every week by now.
              </p>
            </mat-card-content>
            <mat-card-actions [ngStyle]="{'display': 'flex' , 'align-items': 'center' , 'justify-content': 'center'}">
              <button mat-button routerLink="/blog" [ngStyle]="{'background-color': 'darkseagreen', 'width': '100%', 'color':'white'}">Go Resource</button>
            </mat-card-actions>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>
<!-- Content 3 -->
